script:
  - npm test

language: node_js

sudo: false

node_js:
  - "5.5.0"

install:
  - npm install
  - npm install -g bower

before_script:
  - bower install
  - "export DISPLAY=:99.0"
  - "sh -e /etc/init.d/xvfb start"
  - webdriver-manager update
  - sleep 3
